@model OnboardingjQuery.Models.CustomerTable

<h2>Delete Customer</h2>
@using (Html.BeginForm("Delete", "Customer", FormMethod.Post, new { id = "popupForm" }))
{
    //@Html.HiddenFor(a => a.Id)

    <div class="form-group">
        <label>Name</label>
        <p>@Model.customerName</p>
    </div>

    <div class="form-group">
        <label>Age</label>
        <p>@Model.customerAge</p>
    </div>

    <div class="form-group">
        <label>Address</label>
        <p>@Model.customerAddress</p>
    </div>


    <div>
        <input type="submit" value="Delete" />
        @*@Html.ActionLink("Back to List", "Index")*@

    </div>
}



